---
import CategoryFilter from "@/components/react/common/CategoryFilter";
import ImageLists from "@/components/react/common/ImageLists";
import Sort from "@/components/react/common/Sort";
import PageLayout from "@/layouts/PageLayout.astro";
import useCompilePosts from "@/sanity/lib/useCompilePosts";
import { useLoadQuery } from "@/sanity/lib/useLoadQuery";
import { useUrlForImage } from "@/sanity/lib/useUrlForImage";
import type { SanityDocument } from "@sanity/client";
import { PortableText } from "astro-portabletext";

const { data: posts } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "post"]{
  ...,
  author->{
    name,
    slug,
    image,
    bio
  },
  categories[]-> {
    title,
    slug,
  },
}`,
});

const { data: categories } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "category"]`,
});

const { data: content } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "webContent" && slug.current == "gallery-banner"]`,
});

const compiledPosts = useCompilePosts(posts, true);
---

<PageLayout title="Gallery" disableTransform={false}>
  <div
    class="gallery-banner relative h-[500px] bg-cover"
    data-attribute="dark"
    style={{
      backgroundImage: `url(${useUrlForImage(content[0].image).url()})`,
    }}
  >
    <div
      class="absolute left-0 top-0 flex h-full w-full flex-col items-center justify-center bg-black bg-opacity-75 bg-blend-overlay"
    >
      <span data-aos="zoom-in">
        <PortableText value={content[0].body} />
      </span>
    </div>
  </div>
  <section class="section py-16">
    <div class="m-auto flex w-full max-w-7xl justify-between">
      <CategoryFilter client:load categories={categories} />
      <Sort client:load />
    </div>
    <ImageLists client:load posts={compiledPosts} displayAlbum />
  </section>
</PageLayout>
