---
import Envelope from "../../lib/icons/Envelope.astro";
import Phone from "../../lib/icons/Phone.astro";
import MapPin from "../../lib/icons/MapPin.astro";
import { useLoadQuery } from "../../sanity/lib/useLoadQuery";
import type { SanityDocument } from "@sanity/client";
import "@styles/Footer.css";

const { data: information } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "brandInformation"]`,
});

const {
  emailAddress,
  address,
  phoneNumber,
  instagram,
  facebook,
  disclaimer,
  youtube,
  twitter,
  tiktok,
} = information[0];

const details = [
  {
    key: "email",
    value: emailAddress,
    icon: Envelope,
    iconClass: "information-icon size-5",
  },
  {
    key: "phone-number",
    value: phoneNumber,
    icon: Phone,
    iconClass: "information-icon size-5",
  },
  {
    key: "address",
    value: address,
    icon: MapPin,
    iconClass: "information-icon size-5",
  },
];

const socList = [
  {
    key: "facebook",
    value: facebook,
  },
  {
    key: "instagram",
    value: instagram,
  },
  {
    key: "tiktok",
    value: tiktok,
  },
  {
    key: "twitter",
    value: twitter,
  },

  {
    key: "youtube",
    value: youtube,
  },
];
---

<footer class="footer">
  <div class="contact-me">
    <h3>Contact Information</h3>
    {
      details?.map((detail) => (
        <p class="detail">
          <detail.icon className={detail.iconClass} />
          <span> &#58; </span>
          <span>{detail.value}</span>
        </p>
      ))
    }
  </div>
  <div class="services">
    <h3>Current availability</h3>
    <p class="text-gray-400">
      {disclaimer}
    </p>
  </div>
  <div class="follow-me">
    <h3>Follow us on</h3>
    <ul class="soc-list">
      {
        socList.map(
          (link) =>
            link.value && (
              <li>
                <a
                  class="capitalize tracking-wider hover:text-primary"
                  href={link.value}
                >
                  {link.key}
                </a>
              </li>
            ),
        )
      }
    </ul>
  </div>
  <div class="developer-brand">
    <p>&copy; 2021 Lornami Studio. All rights reserved.</p>
  </div>
</footer>
