---
import PageLayout from "@/layouts/PageLayout.astro";
import FourChan from "@/lib/icons/brands/FourChan.astro";
import ActivityPub from "@/lib/icons/brands/ActivityPub.astro";
import AIB from "@/lib/icons/brands/AIB.astro";
import Pelican from "@/lib/icons/brands/Pelican.astro";
import AlliedModders from "@/lib/icons/brands/AlliedModders.astro";
import PetsAtHome from "@/lib/icons/brands/PetsAtHome.astro";
import Zenodo from "@/lib/icons/brands/Zenodo.astro";
import Toyota from "@/lib/icons/brands/Toyota.astro";
import Virgin from "@/lib/icons/brands/Virgin.astro";
import TheBoringCompany from "@/lib/icons/brands/TheBoringCompany.astro";
import TietoEVRY from "@/lib/icons/brands/TietoEVRY.astro";
import { useLoadQuery } from "@/sanity/lib/useLoadQuery";
import { useUrlForImage } from "@/sanity/lib/useUrlForImage";
import type { SanityDocument } from "@sanity/client";
import "@styles/AboutUs.css";
import { Image } from "astro:assets";
import TestimonialCarousel from "@/components/react/about/TestimonialCarousel";

const { data: main } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "webContent" && slug.current == "about-us-main-image"]`,
});

const { data: sub } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "webContent" && slug.current == "about-us-sub-image"]`,
});

const { data: about } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "aboutUs"] | order(order asc)`,
});

const brands = [
  FourChan,
  ActivityPub,
  AIB,
  AlliedModders,
  Pelican,
  Zenodo,
  PetsAtHome,
  Toyota,
  Virgin,
  TheBoringCompany,
  TietoEVRY,
];
---

<PageLayout title="About us" disableTransform>
  <section class="introduction-section">
    <div class="introduction-wrapper">
      <div class="column --left">
        <div class="introduction-header">
          <h3 class="sub-title">A bit about the</h3>
          <h1 class="title">Eyes Behind the Camera</h1>
        </div>

        <div class="introduction-list">
          {
            about?.map((item) => (
              <div class="item-wrapper">
                <h1 class="title">{item.name}</h1>
                <p class="content">{item.description}</p>
              </div>
            ))
          }
        </div>

        <div class="introduction-footer">
          <a href="#">Capture your story—let's find a time!</a>
        </div>
      </div>
      <div class="column --right">
        <div class="wrapper">
          <Image
            src={useUrlForImage(main[0].image).url()}
            alt={main[0].title}
            inferSize
          />
        </div>
        <Image
          src={useUrlForImage(sub[0].image).url()}
          alt={sub[0].title}
          inferSize
          class="sub-image"
        />
      </div>
    </div>
  </section>

  <section class="experience-section">
    <div class="brands">
      <div class="brand-wrapper">
        {
          brands.map((BrandIcon) => (
            <BrandIcon className="fill-slate-700 mx-10" />
          ))
        }
      </div>
    </div>
    <div class="testimonials">
      <TestimonialCarousel client:load />
    </div>
  </section>
</PageLayout>
