---
import PageLayout from "@/layouts/PageLayout.astro";
import FourChan from "@/lib/icons/brands/FourChan.astro";
import ActivityPub from "@/lib/icons/brands/ActivityPub.astro";
import AIB from "@/lib/icons/brands/AIB.astro";
import Pelican from "@/lib/icons/brands/Pelican.astro";
import AlliedModders from "@/lib/icons/brands/AlliedModders.astro";
import PetsAtHome from "@/lib/icons/brands/PetsAtHome.astro";
import Zenodo from "@/lib/icons/brands/Zenodo.astro";
import Toyota from "@/lib/icons/brands/Toyota.astro";
import Virgin from "@/lib/icons/brands/Virgin.astro";
import TheBoringCompany from "@/lib/icons/brands/TheBoringCompany.astro";
import TietoEVRY from "@/lib/icons/brands/TietoEVRY.astro";
import { useLoadQuery } from "@/sanity/lib/useLoadQuery";
import { useUrlForImage } from "@/sanity/lib/useUrlForImage";
import type { SanityDocument } from "@sanity/client";
import "@styles/AboutUs.css";
import TestimonialCarousel from "@/components/react/about/TestimonialCarousel";

const { data: main } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "webContent" && slug.current == "about-us-main-image"]`,
});

const { data: sub } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "webContent" && slug.current == "about-us-sub-image"]`,
});

const { data: about } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "aboutUs"] | order(order asc)`,
});

const { data: testimonials } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "testimonials"]`,
});

const brands = [
  FourChan,
  ActivityPub,
  AIB,
  AlliedModders,
  Pelican,
  Zenodo,
  PetsAtHome,
  Toyota,
  Virgin,
  TheBoringCompany,
  TietoEVRY,
];
---

<PageLayout title="About us" disableTransform>
  <section class="introduction-section">
    <div class="introduction-wrapper">
      <div class="column --left">
        <div
          class="introduction-header"
          data-aos="fade-down"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
        >
          <h3 class="sub-title">A bit about the</h3>
          <h1 class="title">Eyes Behind the Camera</h1>
        </div>

        <div class="introduction-list">
          {
            about?.map((item) => (
              <div
                class="item-wrapper"
                data-aos="fade-right"
                data-aos-offset="500"
                data-aos-easing="ease-in-sine"
              >
                <h1 class="title">{item.name}</h1>
                <p class="content">{item.description}</p>
              </div>
            ))
          }
        </div>

        <div class="introduction-footer animate-bounce animate-infinite">
          <a href="#" data-aos="zoom-in" data-aos-offset="300"
            >Capture your story—let's find a time!</a
          >
        </div>
      </div>
      <div class="column --right" data-aos="zoom-in-down">
        <div class="wrapper">
          <img src={useUrlForImage(main[0].image).url()} alt={main[0].title} />
        </div>
        <img
          src={useUrlForImage(sub[0].image).url()}
          alt={sub[0].title}
          class="sub-image"
        />
      </div>
    </div>
  </section>

  <section class="experience-section">
    <div class="brands">
      <div class="brand-wrapper">
        {
          brands.map((BrandIcon, index) => (
            <div
              class="md:mx-10"
              data-aos="zoom-in"
              data-aos-delay={index * 100}
              data-aos-offset="300"
            >
              <BrandIcon className="fill-slate-700" />
            </div>
          ))
        }
      </div>
    </div>
    <div class="testimonials">
      <TestimonialCarousel client:load testimonials={testimonials} />
    </div>
  </section>
</PageLayout>
