---
import Footer from "@/components/astro/Footer.astro";
import Navigation from "@/components/react/navigation/Navigation";
import { Toaster } from "@/lib/ui/sonner";
import { useLoadQuery } from "@/sanity/lib/useLoadQuery";
import { useUrlForImage } from "@/sanity/lib/useUrlForImage";
import type { SanityDocument } from "@sanity/client";
import "@styles/PageLayout.css";
import "aos/dist/aos.css";

interface Props {
  title: string;
  disableTransform: boolean;
}

const { title, disableTransform } = Astro.props;

const { data: content } = await useLoadQuery<SanityDocument[]>({
  query: `*[_type == "webContent" && slug.current == "menu-overlay"]`,
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} || Lornami Studio</title>
  </head>
  <body class="relative w-full">
    <Navigation
      client:load
      cover={useUrlForImage(content[0].image).url()}
      disableTransform={disableTransform}
      title={title}
    />
    <slot />
    <Toaster client:load />
    <Footer />
    <script>
      import AOS from "aos";
      AOS.init();
    </script>
  </body>
</html>
